*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image:linear-gradient(rgb(140, 140, 150),rgba(182, 178, 178, 0.3));
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
div>a{
    text-decoration: none;
    font-size: 23px;
}
nav{
    display: flex;
    font-family: 'poppin',sans-serif;
    justify-content: space-around;
    background-color:ghostwhite ;
}
#signup{
    display: flex;
    justify-content: space-around;

}
#signup>a{
    margin: 20px;
}
