*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppin",sans-serif;
}
.fresh{
    background-image: linear-gradient(to top right, rgb(197, 197, 194),70%,rgb(244, 249, 250));
}
@media (max-width:766px) {

    /* .pest{
        
        transform: translate(0,-130px);
    } */
    .good{
        transform: translate(-500px,0px);
    }
}